@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-bold-xl {
    @apply text-2xl font-bold leading-5;
  }
  .text-bold-lg {
    @apply text-xl font-bold leading-4;
  }
  .text-bold-md {
    @apply text-base font-bold leading-5;
  }
  .text-bold-rg {
    @apply text-sm font-bold leading-4;
  }
  .text-bold-sm {
    @apply text-xs font-bold leading-4;
  }

  .text-semibold-lg {
    @apply text-xl font-semibold leading-5;
  }

  .text-semibold-md {
    @apply text-base font-semibold leading-5;
  }

  .text-semibold-rg {
    @apply text-sm font-semibold leading-4;
  }

  .text-semibold-sm {
    @apply text-xs font-semibold leading-4;
  }

  .text-medium-md {
    @apply text-base font-medium leading-6;
  }

  .text-medium-rg {
    @apply text-sm font-medium leading-6;
  }

  .text-medium-sm {
    @apply text-xs font-medium leading-4;
  }
}

@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('fonts/SUIT-Variable.woff2') format('woff2-variations');
}

body {
  font-family: 'SUIT Variable', serif;
}

.blocklyToolboxDiv blocklyNonSelectable {
  padding: 0;
}

.blocklyToolboxContents {
  background-color: white;
  height: 100%;
  border-left: 1px #cdd9e4 solid;
}

.blocklyToolboxCategory {
  padding: 0;
  margin: 0;
}

.blocklyTreeRow {
  width: 6rem;
  height: auto;
  background-color: white;
  padding: 0.5rem 0;
  margin: 0;
  border-bottom: 1px #cdd9e4 solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.blocklyTreeRow:hover {
  cursor: pointer;
}

.blocklyTreeLabel {
  @apply text-semibold-sm;
}
